<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <title>乐优商城--秒杀结算页</title>

  <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
  <link rel="stylesheet" type="text/css" href="css/pages-getOrderInfo.css"/>
</head>

<body>
<!--head-->
<div id="orderInfoApp">
  <div class="top">
    <shortcut/>
  </div>

  <div class="cart py-container">

    <!--logoArea-->
    <div class="logoArea">
      <div class="fl logo"><span class="title">秒杀结算页</span></div>
    </div>

    <!--主内容-->
    <div class="checkout py-container">
      <div class="checkout-tit">
        <h4 class="tit-txt">填写并核对订单信息</h4>
      </div>
      <div class="checkout-steps">
        <!--收件人信息-->
        <div class="step-tit">
          <h5>收件人信息<span><a data-toggle="modal" data-target=".edit" data-keyboard="false"
                            class="newadd">新增收货地址</a></span></h5>
        </div>
        <div class="step-cont">
          <div class="addressInfo">
            <ul class="addr-detail">
              <li class="addr-item" v-for="a in addressList" :key="a.id">
                <div>
                  <div :class="{con:true,name:true,selected:a.id === selectedAddress.id}">
                    <a href="javascript:;" @click.stop="selectedAddress=a">
                      {{a.name}}<span title="点击取消选择"></span>&nbsp;
                    </a></div>
                  <div class="con address">{{a.province + a.city + a.district + a.street }} <span>{{a.phone}}</span>
                    <span class="base" v-if="a.isDefault">默认地址</span>
                    <span class="edittext"><a data-toggle="modal" data-target=".edit" data-keyboard="false">编辑</a>&nbsp;&nbsp;<a
                        href="javascript:;">删除</a></span>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </li>
            </ul>
            <!--添加地址-->
            <div tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade edit">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                    <h4 id="myModalLabel" class="modal-title">添加收货地址</h4>
                  </div>
                  <div class="modal-body">
                    <form action="" class="sui-form form-horizontal">
                      <div class="control-group">
                        <label class="control-label">收货人：</label>
                        <div class="controls">
                          <input type="text" class="input-medium">
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label">详细地址：</label>
                        <div class="controls">
                          <input type="text" class="input-large">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">联系电话：</label>
                        <div class="controls">
                          <input type="text" class="input-medium">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">邮箱：</label>
                        <div class="controls">
                          <input type="text" class="input-medium">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">地址别名：</label>
                        <div class="controls">
                          <input type="text" class="input-medium">
                        </div>
                        <div class="othername">
                          建议填写常用地址：<a href="#" class="sui-btn btn-default">家里</a>　<a href="#"
                                                                                     class="sui-btn btn-default">父母家</a>　<a
                            href="#" class="sui-btn btn-default">公司</a>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large">确定</button>
                    <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
                  </div>
                </div>
              </div>
            </div>
            <!--确认地址-->
          </div>
          <div class="hr"></div>

        </div>
        <div class="hr"></div>
        <!--支付和送货-->
        <div class="payshipInfo">
          <div class="step-tit">
            <h5>支付方式</h5>
          </div>
          <div class="step-cont">
            <ul class="payType">
              <li :class="{selected: paymentType===1}" @click="paymentType=1">微信付款<span title="点击取消选择"></span></li>
              <li :class="{selected: paymentType===2}" @click="paymentType=2">货到付款<span title="点击取消选择"></span></li>
            </ul>
          </div>
          <div class="hr"></div>
          <div class="step-tit">
            <h5>送货清单</h5>
          </div>
          <div class="step-cont">
            <ul class="send-detail">
              <li>
                <div class="sendGoods">
                  <ul class="yui3-g" >
                    <li class="yui3-u-1-6">
                      <span><img width="70px" height="70px" :src="seckill.skuPic"/></span>
                    </li>
                    <li class="yui3-u-7-12">
                      <div class="desc" v-text="seckill.title"></div>
                      <div class="seven">
                        <!--<span v-for="(v,k,i) in JSON.parse(c.ownSpec)" :key="k">
                          <span style="color: #2b2b2b" v-text="(i>0? ' | ' : '') + k + ':'"></span>{{v}}
                        </span>-->
                      </div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div class="price">￥{{ly.formatPrice(seckill.costPrice)}}</div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div class="num">X1</div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div class="exit">{{seckill.stockCount >0 ? '有货' : '缺货'}}</div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="hr"></div>
        </div>
      </div>
    </div>
    <div class="order-summary">
      <div class="static fr">
        <div class="list">
          <span><i class="number">商品金额</i></span>
          <em class="allprice">¥{{ly.formatPrice(seckill.costPrice)}}</em>
        </div>
        <div class="list">
          <span>运费：</span>
          <em class="transport">0.00</em>
        </div>
      </div>
    </div>
    <div class="clearfix trade">
      <div class="fc-price">应付金额:　<span class="price">¥{{ly.formatPrice(seckill.costPrice)}}</span></div>
      <div class="fc-receiverInfo">
        寄送至:{{selectedAddress.province + selectedAddress.city + selectedAddress.district + selectedAddress.street}}
        收货人：{{selectedAddress.name}} 电话：{{selectedAddress.phone}}
      </div>
    </div>
    <div class="submit">
      <a class="sui-btn btn-danger btn-xlarge" href="#" @click.prevent="submit">提交订单</a>
    </div>
  </div>

</div>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript">
  var orderInfoVm = new Vue({
    el: "#orderInfoApp",
    data: {
      ly,
      addressList: [],
      selectedAddress: {},
      seckill: {},
      paymentType: 1,
    },
    created() {
      this.getAddress();

      console.info('selectaddress=='+this.selectedAddress);
      // 判断是否登录
      ly.http.get("/auth/verify").then(() => {
        // 获取已选中的购物车
        this.seckill = ly.store.get("seckillgoods");
      }).catch(() => {
        // 未登录则跳转到登录页
        window.location.href = "/login.html?returnUrl=" + window.location.href;
      })
    },
    methods: {
      async getAddress(){
        await ly.http.get("/user/address/list").then(resp=>{
          console.info(resp);
          this.addressList = resp.data;
          if(this.addressList!=null&&this.addressList.length>0){
            this.selectedAddress = this.addressList[0];
          }

        });
        // 初始化默认地址
        this.selectedAddress = this.addressList.find(a => a.isDefault);
      },
      submit() {
        ly.http.get("/auth/verify").then(() => {
          const order = {
            paymentType: this.paymentType, // 支付方式
            seckillId: this.seckill.id, // 订单详情
            addressId: this.selectedAddress.id,// 收获地址的id
          };
          // 提交订单
          ly.http.post("/seckillgoods/portal/secKill", order, {
            transformResponse: [function (data) {
              return data;
            }]
          }).then(resp => {
            // 订单创建成功，删除selectedCarts
            ly.store.del("seckillgoods");
            // 跳转到付款页,并传递订单id，用于生成付款信息
            window.location.href = "/pay-seckill.html?id=" + resp.data;
          }).catch(resp => {
            let result = JSON.parse(resp.response.data);
            alert(result['message']);
          })
        }).catch(() => {
          window.location.href = "/login.html?returnUrl=" + window.location.href;
        })

      }
    },
    components: {
      shortcut: () => import("/js/pages/shortcut.js")
    }
  });
</script>

<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<div class="clearfix footer"></div>
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->

<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/pages/getOrderInfo.js"></script>
</body>

</html>