<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>设置-个人信息</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css"/>
</head>

<body>
<!--页面顶部白条条，由js动态加载-->
<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
<div class="nav-bottom"></div>
<script type="text/javascript">$(".nav-bottom").load("top.html");</script>

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#service").hover(function () {
            $(".service").show();
        }, function () {
            $(".service").hide();
        });
        $("#shopcar").hover(function () {
            $("#shopcarlist").show();
        }, function () {
            $("#shopcarlist").hide();
        });

    })
</script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
<script type="text/javascript" src="pages/userInfo/distpicker.data.js"></script>
<script type="text/javascript" src="pages/userInfo/distpicker.js"></script>
<script type="text/javascript" src="pages/userInfo/main.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/distpicker/2.0.1/distpicker.js"></script>

</body>
<!--header-->
<div id="account">
    <div class="py-container">
        <div class="yui3-g home">
            <!--左侧列表-->
            <div class="yui3-u-1-6 list">

                <div class="person-info">
                    <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                    <div class="person-account">
                        <span class="name">{{userInfo.username}}</span>
                        <span class="safe">账户安全</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-items">
                    <dl>
                        <dt><i>·</i> 订单中心</dt>
                        <dd><a href="home-index.html">我的订单</a></dd>
                        <dd><a href="home-order-pay.html">待付款</a></dd>
                        <dd><a href="home-order-send.html">待发货</a></dd>
                        <dd><a href="home-order-receive.html">待收货</a></dd>
                        <dd><a href="home-order-evaluate.html">待评价</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 我的中心</dt>
                        <dd><a href="home-person-collect.html">我的收藏</a></dd>
                        <dd><a href="home-person-footmark.html">我的足迹</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 物流消息</dt>
                    </dl>
                    <dl>
                        <dt><i>·</i> 设置</dt>
                        <dd><a href="home-setting-info.html">个人信息</a></dd>
                        <dd><a href="home-setting-address.html" class="list-active">地址管理</a></dd>
                        <dd><a href="home-setting-safe.html">安全管理</a></dd>
                    </dl>
                </div>
            </div>
            <!--右侧主内容-->
            <div class="yui3-u-5-6">
                <div class="body userAddress">
                    <div class="address-title">
                        <span class="title">地址管理</span>
                        <a data-toggle="modal" data-target=".edit" data-keyboard="false"
                           class="sui-btn  btn-info add-new" @click="addAddress">添加新地址</a>
                        <span class="clearfix"></span>
                    </div>
                    <div class="address-detail">
                        <table class="sui-table table-bordered">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>地址</th>
                                <th>联系电话</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(add,index) in addresses" :key="index">
                                <td>{{add.name}}</td>
                                <td>{{add.address}}</td>
                                <td>{{add.phone}}</td>
                                <td>
                                    <a href="#" @click=" editAddress(add)" data-toggle="modal"
                                       data-target=".edit" data-keyboard="false" class="sui-btn add-new">编辑</a>
                                    <a href="#" @click="deleteAddress(add.id)" class="sui-btn add-new">删除</a>
                                    默认地址
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <!--新增地址弹出层-->
                    <div tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade edit"
                         style="width:580px;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×
                                    </button>
                                    <h4 id="myModalLabel" class="modal-title">{{isEdit?'修改':'新增'}}地址</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="" class="sui-form form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label">收货人：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" v-model="address.name">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">所在地区：</label>
                                            <div class="controls">
                                                <div data-toggle="distpicker" id="#target">
                                                    <div class="form-group area">
                                                        <select class="form-control" id="province1"
                                                                v-model="address.state"></select>
                                                    </div>
                                                    <div class="form-group area">
                                                        <select class="form-control" id="city1"
                                                                v-model="address.city"></select>
                                                    </div>
                                                    <div class="form-group area">
                                                        <select class="form-control" id="district1"
                                                                v-model="address.district"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">详细地址：</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" v-model="address.address">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">联系电话：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" v-model="address.phone">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">邮箱：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" v-model="address.zipCode">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">地址别名：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium"
                                                       v-model="address.addressNickname">
                                            </div>
                                            <div class="othername">
                                                建议填写常用地址：<a href="#" class="sui-btn btn-default"
                                                            @click="home(this)">家里</a>　<a href="#"
                                                                                          class="sui-btn btn-default">父母家</a>　<a
                                                    href="#" class="sui-btn btn-default">公司</a>
                                            </div>
                                        </div>

                                    </form>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large"
                                            @click="submitAddress">确定
                                    </button>
                                    <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">
                                        取消
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>-->
<!--$('#target').distpicker({-->
<!--province: '&#45;&#45;&#45;&#45; 所在省 &#45;&#45;&#45;&#45;',-->
<!--city: '&#45;&#45;&#45;&#45; 所在市 &#45;&#45;&#45;&#45;',-->
<!--district: '&#45;&#45;&#45;&#45; 所在区 &#45;&#45;&#45;&#45;'-->
<!--});-->
<!--</script>-->


<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<div class="clearfix footer"></div>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->
<!--页面加载，发送ajax请求，展示首頁左侧的商品分类信息-->
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript">

    // $('#target').distpicker();

    var homeAddress = new Vue({
        el: "#account",
        data: {
            userInfo: [],
            addresses: [],
            addressUpdate: {},

            address: {
                name: "",
                state: "",
                city: "",
                district: "",
                address: "",
                phone: "",
                zipCode: "",
                addressNickname: "",
                defaultAddr: false
            },
            isEdit: false,
        },
        methods: {
            editAddress(add) {
                this.isEdit = true;
                this.address = add;
            },
            addAddress() {
                // 修改标记
                this.isEdit = false;

                // 把oldBrand变为null
                this.address = {};
            },
            //添加一条新地址
            submitAddress() {
                ly.http({
                    url:"/user/addAddress",
                    data: this.address,
                    method: this.isEdit?"PUT":"POST",
                }).then(() => {
                    //点击确定按钮，向后台发送保存地址的请求成功,强制刷新页面加载新地址
                    window.location.reload();
                }).catch(()=>{
                    //点击确定按钮，向后台发送保存地址的请求失败
                    alert("提交失败")
                })
            },
            //删除一条地址
            deleteAddress(id) {
                ly.http.delete("user/deleteAddressById/" + id).then(() => {
                    //删除成功 页面强制刷新
                    window.location.reload()
                }).catch(() => {
                    //删除失败
                    alert("鼠标左击坏了吧?没点到删除呢！")
                })
            },
            //编辑一条地址
            updateAddress(id) {
                //编辑一条地址需要先查询  回显，再保存
                ly.http.get("user/" + id).then((resp) => {
                    //查询成功
                    this.addressUpdate = resp.data;
                    alert(this.addressUpdate.id)
                })
            },
            },

        created() {
            //页面加载发送ajax请求，判断是否登录
            ly.http.get("auth/verify").then((resp) => {
                //如果用户登陆了，则加载个人中心页面
                this.userInfo = resp.data;

            }).catch(() => {
                //如果用户没有登录，则重定向到登录页面
                window.location.href = "login.html"
            });
            //页面加载发送ajax请求，加载个人的地址
            ly.http.get("/user/address").then((resp) => {
                this.addresses = resp.data
            }).catch(() => {
                alert("登录失效，加载失败，请重新登录")
            })
        },

    })

</script>

</html>